section.login
	.line-01
	.line-04
	.inner-content
		.box.box-title
			h2
				| PROGRAMA 
				br
				| DE RECONOCIMIENTO
			h1
				| MEDIA IMPACT
		.box.box-image
			figure
				img(src="./public/image/login.jpg", alt="Programa Bravo")
			.line-02
			.line-03
		.box.box-login 
			form
				.form-col
					.form-group
						input(type="text", name="user", placeholder="Ingresu su usuario")
					.form-group
						input(type="password", name="pass", placeholder="Ingrese su contraseña")
					.form-group
						button Iniciar sesión
					.form-group
						p
							| Si olvidaste tu clave, ingresa 
							a(href="javascript:void(0)") 
								| aquí
			