section.Espiritu
	.container
		.inner-top
			.col-top
				figure
					img(src="./public/image/cubo.jpg")
			.col-top
				hgroup
					h2
						| En Media Impact celebramos todos los días la pasión 
						br
						| que sentimos por lo que hacemos. 
					h3
						| ¡Únete a nuestros 6 años de explosiva pasión!
		.inner-bottom
			.block-title
				h1
					| # Espirítu MI
			.inner-box
				.box-left
					p
						| Conoce a los miembros del #DreamTeam 
						| destacados recientemente. 
						br
						| Recuerda que tú puedes ser el próximo reconocido.
					.box-access
						.inner-searchpeople
							figure
								img(src="./public/image/comment.png")
							hgroup
								h3
									| ÚLTIMOS 
									br
									| COMENTARIOS
								h4
									| Busca por nombres
							form
								input(type="text", name="name", id="name", placeholder="Ingrese aquí el nombre")
							a(href="#")
								| Sigue reconocimiento
						.inner-comment
							.inner-user
								.header
									h2
										| Jesús 
									a(href="#")
										img(src="./public/image/like.png")
									span
										| 8
								.comment
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi impedit, cupiditate modi sint iure doloremque, unde repellat similique incidunt eaque error maiores ipsam facere expedita earum amet quae totam iusto.
							.inner-user
								.header
									h2
										| Jesús 
									a(href="#")
										img(src="./public/image/like.png")
									span
										| 8
								.comment
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi impedit, cupiditate modi sint iure doloremque, unde repellat similique incidunt eaque error maiores ipsam facere expedita earum amet quae totam iusto.
							.inner-user
								.header
									h2
										| Jesús 
									a(href="#")
										img(src="./public/image/like.png")
									span
										| 8
								.comment
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi impedit, cupiditate modi sint iure doloremque, unde repellat similique incidunt eaque error maiores ipsam facere expedita earum amet quae totam iusto.
				include ../asibar/asibar.jade