.headerMain
	.inner-main
		align-items flex-start
		background blanco
		display flex
		flex-direction row
		flex-wrap no-wrap
		justify-content space-between
		padding-right 40px
		.block-item
			&:first-child
				figure
					height 152px
				figure, hgroup
					display inline-block
					vertical-align middle
			&:last-child
				padding-top 30px
				a, p
					display inline-block
					font-size 12px
					vertical-align middle
			a
				background gris
				margin-left 8px
				padding 4px 4px
				text-decoration none
				&:hover
					background rojo
			h1
				&.rojo
					color rojo
	nav
		background linear-gradient(left, #dcdbdb, #f2f2f2)
		ul
			align-items center
			display flex
			flex-direction row
			flex-wrap no-wrap
			margin 0
			padding 0
			list-style none
			justify-content flex-start
			li
				a
					color gris-claro
					display block
					font-size 14px
					text-decoration none
					text-align center
					padding 15px 12px
					&:hover, &.active
						color rojo
					
						
				