header.headerMain
	.container
		.inner-main
			.block-item
				figure
					img(src="./public/image/logo.jpg", alt="Media Impact - Bravo")
				hgroup
					h1 PROGRAMA DE  
					h1 RECONOCIMIENTO 
					h1.rojo MEDIA IMPACT
			.block-item
				p 
					| Hola Luis
				a(href="javascript:void(0)")
					| Cerrar sesión
		nav
			ul
				li
					a.active(href="#")
						| ¡RECONOCE AHORA!
				li
					a(href="#")
						| MIRA LOS RECONOCIMIENTOS 
						br
						| + RECIENTES
				li
					a(href="#")
						| TOP 10 ESPÍRITU
						br 
						| DE SERVICIO