/*!*** llamamos a nuestras librerias nib ****/
@import 'nib'
@import 'nib/gradients'
@import 'nib/overflow'
@import 'nib/normalize'
/*!*** Css de la fuente ****/
@import '../../public/css/font.css'
/*!*** llamamos a nuestros demas estilos stylus****/
@import  '../master/general.styl'
@import  '../master/formulario.styl'
@import  '../header/header.styl'
@import  '../menu/menu.styl'
@import  '../inicio/inicio.styl'
@import  '../reconoce/reconoce.styl'
@import  '../reconoce-form/reconoce-form.styl'
@import  '../espiritu/espiritu-mi.styl'
@import  '../asibar/asibar.styl'
@import  '../footer/footer.styl'
/*!**** Los demas estilos *********/

