nav.menu(ng-controller="mainmenuCrtl")
	.container
		ul.contenedorMenu
			li
				a(href="#/" class="active")
					| INICIO
			li
				a(href="javascript:void(0)")
					| NOSOTROS
					i.icon-arrows
				.submenu
					ul
						li
							a(href="#/somos") Quiénes Somos
						li
							a(href="#/mision") Misión y Visión
						li
							a(href="#/organigrama") Organigrama
						li
							a(href="#/flota") Flota
						li
							a(href="#/bases") Bases
			li
				a(href="javascript:void(0)") 
					| INFORMACIÓN
					i.icon-arrows
				.submenu
					ul
						li
							a(href="#/politica") Políticas y reglamentos
			li
				a(href="#/noticias")
					| NOTICIAS
			li
				a(href="#/nao") 
					| NAO
			li
				a(href="#/gestion-personas") 
					| GESTIÓN DE PERSONAS
					i.icon-arrows
			li
				a(href="#/seguridad") 
					| SEGURIDAD
					i.icon-arrows
				.submenu
					ul
						li
							a(href="#/politica-sst") Política SST
						li
							a(href="#/formato-sst") Formatos SST