.box-separate
.box-right
	ul
		li
			a(href="#")
				img(src="./public/image/copa.jpg")
		li.separate
			a(href="#")
				| Reconoce
				br
				| ¡Ahora!
		li.separate
			a(href="#")
				| Mira los
				br
				| reconocimientos
				br
				| más recientes
		li
			a(href="#")
				| Top 10
				br
				| Espíritu de Servicio