aside
	.search
		h3
			border-bottom 4px solid plomo_claro
			color #f19601
			font-size 16px
			padding-bottom 5px
			margin-bottom 8px
		input[type="text"]
			border-radius 0
			border 1px solid plomo_oscuro
			padding 10px 2% 10px 3%
			width 95%
	.birthday
		background grisclaro
		//width 300px
		margin 20px auto 0
		text-align center
		figure
			padding-top 0
			margin 0
		.list-birthday
			align-items flex-start
			display flex
			flex-direction column
			flex-wrap no-wrap
			justify-content flex-start
			hgroup
				border-bottom 2px solid plomo_oscuro							
				padding-bottom 20px
				padding-top 20px
				width 100%
				&:last-child
					border-bottom 0px solid plomo_oscuro
				a
					text-decoration none
				h1
					color azul
					font-family open_sansextrabold
					font-size 18px
					margin 0
				h2
					color grisoscuro2
					font-family open_sansextrabold_italic
					font-size 14px
					margin 0
					
				h4
					color grisoscuro
					font-size 16px
					font-family open_sansbold
	.advertising
		margin 0 auto
		text-align center
		figure
			margin 0